:root { 
--indigo_900_5d:#0028815d; 
--white_A700_7f:#ffffff7f; 
--bluegray_50:#edeff2; 
--bluegray_900_07:#26334d07; 
--deep_orange_A200:#ff6633; 
--amber_400:#ffcb33; 
--indigo_50:#e4e7f0; 
--deep_orange_A200_4c:#ff66334c; 
--red_500:#f14227; 
--deep_orange_A200_19:#ff663319; 
--gray_50:#f7f8fa; 
--gray_100:#f2f3f5; 
--indigo_100:#c3cad9; 
--bluegray_600:#4d5e80; 
--bluegray_500:#6b7a99; 
--black_900:#000000; 
--bluegray_400:#7d8fb3; 
--bluegray_200:#adb8cc; 
--white_A700_19:#ffffff19; 
--pink_800:#b31252; 
--white_A700:#ffffff; 
}